#CLT-Options { width: 40em; }
#CLT-Custom-Format { width: 30em; }
#CLT-Variable-List { min-height: 170px; }

#CLT-CustomFormat-Link {
	color: #00F;
	margin-bottom: 5px;
	text-decoration: underline;
}

#CLT-CustomFormat-Link:hover {
	color: #F00;
	cursor: pointer;
}
